@use "variables" as v;


.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: v.$size-three;
    z-index: 1;
    h1{
        font-size: v.$size-five;
        font-weight: 300;
        margin-bottom: 30px;
    }
}