/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Raleway", sans-serif;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  margin: 60px auto;
  width: 70%;
  border: 1px solid #777;
}

.secondary {
  color: #f5b759;
}

.btn {
  margin: 5px;
  padding: 11px 25px;
  border: none;
  border-radius: 20px;
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
}

.btn-trans {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
}
.btn-trans:hover {
  color: #f5b759;
  background-color: #fff;
}

.btn-white {
  color: #f5b759;
  background-color: #fff;
}
.btn-white:hover {
  color: #fff;
  background-color: #f5b759;
}

.btn-green {
  color: #000;
  background-color: #f5b759;
}
.btn-green:hover {
  padding-right: 35px;
}

.btn-search {
  font-size: 20px;
  color: #f5b759;
  background-color: #fff;
}

header {
  background-image: url(/img/slide-main-1.jpg);
  background-color: #1e1e1e;
}
header .slideshow {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  margin: auto;
  padding: 15px 0px;
  position: sticky;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  z-index: 1;
}
nav h1 {
  font-weight: 700;
}
nav .nav-list {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
}
nav .nav-list li ul {
  display: none;
}
nav .nav-list li {
  padding: 0 10px;
}
nav .nav-list li:hover ul {
  position: absolute;
  display: block;
  padding: 0px 40px;
  background: #fff;
  color: #1e1e1e;
  opacity: 0.5;
}
nav .nav-list .link-active {
  color: #f5b759;
  border-bottom: solid 2px #f5b759;
}
@media (max-width: 762px) {
  nav .nav-list {
    display: none;
  }
}
@media (max-width: 762px) {
  nav {
    justify-content: center;
  }
}

.intro {
  margin-top: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-align: center;
  z-index: 1;
}
.intro h1 {
  margin-bottom: 30px;
  font-size: 38px;
  font-weight: 600;
}
.intro-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about-page {
  margin: auto;
  width: 80%;
  line-height: 1.4;
  font-size: 16px;
}
.about-page .about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 762px) {
  .about-page .about {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}
.about-page .about-icons {
  color: #000;
}
.about-page .about-icons h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}
.about-page .about-icons-list {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-page .about-icons-list .about-item {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
.about-page .about-icons-list .about-item img {
  padding-right: 5px;
}
.about-page .about-icons-list .about-item h3 {
  font-size: 15px;
  font-weight: 600;
}
.about-page .about-bio {
  color: #1e1e1e;
}

.bullet {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.bullet-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  color: #777;
  font-size: 15px;
}
.bullet-box h3 {
  margin: 0;
  color: #f5b759;
  font-size: 16px;
}

.email {
  background-image: url("/img/banner.jpg");
  background-position: center;
  background-size: cover;
}
.email-content {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.email-content h3 {
  text-transform: uppercase;
}
.email-content-form {
  margin: 15px;
}
.email-content input {
  margin: 0px 10px;
  padding: 11px 25px;
  border: solid 1px #fff;
  border-radius: 20px;
  outline: none;
  background: transparent;
}

/*# sourceMappingURL=style.css.map */
