@use "../base/variables" as v;

.about-page {
    margin: auto;
    width: 80%;
    line-height: 1.4;
    font-size: v.$size-three;
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media(max-width: 762px) {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }
        &-icons {
            h2 {
                margin: 0;
                font-size: v.$size-four;
                font-weight: 700;
            }
            color: v.$black;
            &-list {
                margin-bottom: 50px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                .about-item {
                    padding:15px;
                    display: flex;
                    flex-wrap: wrap;
                    img {
                        padding-right: 5px;
                    }
                    h3 {
                        font-size: v.$size-two;
                        font-weight: 600;
                    }
                }
            }
        }
        &-bio {
            color: v.$clr-tertiary;
        }
    }
}