@use "../base/variables" as v;


.about-page {
    // text-align: center;
    width: 80%;
    margin: auto;
    font-size: v.$size-three;
    line-height: 1.4;
    color: v.$clr-secondary;
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media(max-width: 762px) {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }
        &-icons{
            h2{
                font-size: v.$size-four;
                font-weight: 700;
                margin: 0;
            }
            color: v.$black;
            &-list{
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-bottom: 50px;
                .about-item {
                    display: flex;
                    flex-wrap: wrap;
                    padding:15px;
                    img{
                        padding-right: 5px;
                    }
                    h3{
                        font-size: v.$size-two;
                        font-weight: 600;
                    }
                }
            }
        }
        &-bio{
            color: v.$clr-tertiary;
        }
    }
}