@use "../base/variables" as v;

.intro {
    margin-top: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: v.$size-six;
    text-align: center;
    z-index: 1;
    h1 {
        margin-bottom: 30px;
        font-size: v.$size-five;
        font-weight: 600;
    }
    &-btns {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}