@use "../base/variables" as v;

header{
    height: 100vh;
    background-image: url("/assets/img/slide-main-1.jpg");
    background-position: center;
    background-size:cover;
    color: v.$white;
    font-size: v.$size-one;
    text-transform: uppercase;
    nav {
        width: 80%;
        margin: auto;
        padding: 15px 0px;
        position: sticky;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        h1{
            font-weight: 700;
        }
        .nav-list {
            position: relative;
            display: flex;
            align-items: center;
            li ul {
                display: none;
            }
            li {
                padding: 0 10px;
                &:hover ul {
                    display: block;
                    position: absolute;
                    color: v.$clr-tertiary;
                    padding: 0px 40px;
                    background: v.$white;
                    opacity: 0.5;
                }
            }
            .link-active{
                color: v.$clr-tertiary;
            }
            @media(max-width:762px) {
                display: none;   
            }
        }
        @media(max-width:762px) {
            justify-content: center;   
        }
    }
    
}