@use "../base/variables" as v;



.intro{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    font-size: v.$size-six;
    z-index: 1;
    h1{
        font-size: v.$size-five;
        font-weight: 600;
        margin-bottom: 30px;
    }
    &-btns{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}