// colors
$white: #fff;
$black: #000;
$clr-primary: #777;
$clr-secondary: #f5b759;
$clr-tertiary: #1e1e1e;

//font
$size-one: 13px;
$size-two: 15px;
$size-three: 16px;
$size-four: 32px;
$size-five: 38px;
$size-six: 22px;